@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:italic,wght@300;400&display=swap');

:root {
  /* 宣纸色背景 */
  --color-paper: #f2efea; 
  /* 黛墨色文字 */
  --color-ink: #1a1a1a;
  /* 苍色（苔藓绿） */
  --color-moss: #6b705c;

}

body {
  background-color: var(--color-paper);
  color: var(--color-ink);
  margin: 0;
  font-family: 'Noto Serif SC', 'Source Han Serif CN', serif; /* 优先使用宋体 */
  -webkit-font-smoothing: antialiased;
}


/* 自定义滚动条，使其更隐蔽 */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: #d1cdc4;   /* 浅石灰色 */
}



